*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0.5rem 1rem ;
   max-width: 1400px;
   margin: 2rem 2rem;
   border-radius: 20px;
   backdrop-filter: 10px;
   background-color: rgb(6, 47, 57);
   z-index: 1005;
   transition: all 0.3s ease;
}

.logo-section img {
    height: 65px;
    width: 65px;
    border-radius: 50%;  
}

.nav-menu ul {
    list-style: none;
    display: flex;
    gap: 1rem;   
}

.nav-menu ul li a {
    text-decoration: none;
    color: rgb(241, 247, 246);
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-menu  a:hover {
    color: rgb(44, 194, 149);
    transform: scale(1.3);
}

.hero-section {
    height: 100vh;
    background: #677e8a;
    position: relative;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hero-images {
    position: absolute;
    top: 19%;
    left: 30%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    flex: 1;
}

.hero-section img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    padding: 0.1rem;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hero-section img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.handles{
    position: absolute;
    top: 15%;
    left: 65%;
    transform: translate(-50%, -50%);
}

.handles p{
    font-weight: bold;
    color: beige;
}

.handles-list{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 20%;
    left: 65%;
    transform: translate(-50%, -50%);
}

.handles-list a{
    padding: 1.5rem;
    color: greenyellow;
    font-size: 1.5rem;
    gap: 1.5rem;
}

.handles-list a :hover{
    scale: 1.1;
}

.hero-text {
    position: absolute;
    background-color: #122e34;
    padding: 3rem 2rem;
    text-align: center;
    color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.hero-text h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero-text p {
    font-size: 1.1rem;
    line-height: 1.6;
}



.hero-contact {
    position: absolute;
    top: 64%;
    left: 35%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    margin-top: 2.9rem;
}

.hero-contact a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: bold;
}

.hero-contact .fa-phone  {
    color: black;
}

.hero-contact:hover {
    background-color: yellowgreen;
    scale: 1.1;
}

.hero-contact-why {
    position: absolute;
    top: 64%;
    left: 63%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    margin-top: 2.9rem;
}

.hero-contact-why a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: bold;
}

.hero-contact-why:hover {
    background-color: yellowgreen;
    scale: 1.1;
}

.achievements-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 5rem;
    margin-top: 12rem;
    margin-bottom: 8rem;
}

.achievement{
    background-color: #ffffff;
    padding: 1rem 2rem;
    border-radius: 15px;
    width: 11.9rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.achievement:hover {
    scale: 1.1;
}

.achievement span {
    font-size: 2rem;
    font-weight: bold;
    color: #122e34;
    text-align: center;
}

.achievement p {
    font-size: 1rem;
    color: #122e34;
    margin-top: 0.5rem;
}

.About{
    object-fit: cover;
    height: 190vh;
    position: relative;
}

.About{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(/img/pipe-986318_1280.jpg) center/cover no-repeat;
}

.about-text h1{
    margin-bottom: 1.4rem;
}

.about-text{
    position: absolute;
    padding: 2rem 2rem;
    margin-top: 4rem;
    font-size: 1.2rem;
    color: #ffffff;
    line-height: 1.7rem;
    background-color: #122e34;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    border-radius: 20px;
}

.about-text .location{
    font-weight: bold;
    color: aquamarine;
}


.services-container{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:grid;
    grid-template-columns:repeat(3,minmax(220px,1fr));gap:1.5rem;
    padding: 1.5rem;
    transition: transform 0.3s ease;
  
}

.services-container h1{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}


.service-text {
    color: black;
    line-height: 1.7rem;
    background: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6));
    padding: 1rem;
    border-radius: 20px;
    font-weight: 500;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.service-text span{
    font-weight: bold;
    color: maroon;
}

.service-text a{
    font-size: 0.7rem;
    color: white;
    background-color: black;
    text-decoration:  none;
    padding:  0.2rem 0.7rem;
    border-radius: 15px;
    margin-top: 3.8rem;
}

.service-text a:hover {
    scale: 1.2;
    color: aquamarine;
}

.why-choose-us-container{
    padding: 1.5rem 1.5rem;
}

.why-choose-us-container h1{
    color: black;
    margin-bottom: 1.5rem;
}

.choose-us-text{
    padding: 1.5rem;
}

.choose-us-text p{
    color: black;
    font-weight: 450;
    line-height: 2rem;
    margin-bottom: 2rem;
}


.choose-us-text p span{
    font-weight: bold;
    color: maroon;
}

.biodigester-container {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/img/WhatsApp\ Image\ 2026-01-02\ at\ 3.20.46\ PM\ \(1\).jpeg) center/cover no-repeat;
}


.biodigester-container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.biodigester-text {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.biodigester-container  p{
    font-weight: bold;
    padding: 2rem 0;
    color: greenyellow;
}

.biodigester-text ul{
    list-style-type: none;
}

.biodigester-text ul li{
    margin-bottom: 1.5rem;
}

.biodigester-text{
    padding: 1.5rem;
    font-size: 1.1rem;
    font-weight: 450;
    color: #ffffff;
}

.keeping-uptodate{
    background-color: #122e34;
    padding: 1.5rem;
    border-radius: 20px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.keeping-uptodate h1{
    color: white;
}

.keeping-uptodate p{
    color: white;
    line-height: 1.8rem;
    font-weight: 450;
}