@media(min-width:480px){
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0.5rem 0.6rem ;
   max-width: 1400px;
   margin: 1rem 1rem;
   border-radius: 20px;
   backdrop-filter: 10px;
}

.nav-menu ul {
    gap: 0.5rem;   
}

.logo-section img {
    height: 40px;
    width: 40px;
    border-radius: 50%;  
}

.nav-menu ul li a{
    font-size: 0.5rem;
}

.hero-section {
    height: 60vh;
}

.hero-images {
    position: absolute;
    top: 10%;
    left: 20%;
    transform: translate(-50%, -50%);
    gap: 3rem;  
}

.hero-section img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    padding: 0.1rem;
}

.handles{
    position: absolute;
    top: 9%;
    left: 65%;
    transform: translate(-50%, -50%);
}

.handles p{
    font-size: 0.8rem;
}

.handles-list{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 13%;
    left: 65%;
    transform: translate(-50%, -50%);  
}

.handles-list a{
    padding: 1rem;
    color: greenyellow;
    font-size: 1rem;
    gap: 0.8rem;
}

.hero-text{
    position: absolute;
    padding: 3rem 2rem;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    width: 90%;
}

.hero-text h1 {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.hero-text p {
    font-size: 0.8rem;
    line-height: 1.6;
}

.hero-contact{
    position: absolute;
    top: 54%;
    left: 35%;
    transform: translate(-50%, -50%);
    padding: 0.2rem 0.5rem;
    margin-top: 2.9rem;
}

.hero-contact a{
    font-size: 0.6rem;
    gap: 0.5rem;
}

.hero-contact-why{
    position: absolute;
    top: 54%;
    left: 63%;
    transform: translate(-50%, -50%);
    padding: 0.2rem 0.5rem;
    margin-top: 2.9rem;
}

.hero-contact-why a{
    font-size: 0.6rem;
    gap: 0.4rem;
}


.hero-contact-why a{
    padding: 0.2rem 0.3rem;
}

.achievements-container{
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.2rem 0.5rem;
    margin-top: 2.9rem;
    gap: 1rem;
}

.achievement{
    background-color: #ffffff;
    padding: 0.5rem 0.9rem;
    border-radius: 15px;
    width: 7rem;
}


.achievement span {
    font-size: 0.5rem;
    font-weight: bold;
}
.achievement p {
    font-size: 0.7rem;
}

.services-container{
    position: absolute;
    top: 69%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-template-columns:repeat(2,minmax(170px,1fr));
    padding: 0.2rem 0.5rem;
    margin-top: 2.9rem;
    gap: 0.9rem;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.services-container h1{
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:1rem ;
      display:grid;
}

.service-text{
    line-height: 1rem;
    padding: 0.5rem;
    font-size: 0.5rem;
    width: 9.5rem;
}

.service-text a{
    font-size: 0.4rem;
}

.About{
    object-fit: cover;
    height: 118vh;
}

.about-text{
    padding: 2rem 2rem;
    margin-top: 2rem;
    font-size: 0.8rem;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}


.why-choose-us-container{
    padding: 1rem 1rem;
}

.why-choose-us-text h1{
    color: black;
    margin-bottom: 0.8rem;
}

.choose-us-text{
    padding: 1rem;
    font-size: 0.8rem;
}

.choose-us-text p{
    color: black;
    font-weight: 450;
    line-height: 1rem;
    margin-bottom: 2rem;
}


.keeping-uptodate{
    padding: 1rem;
    border-radius: 20px;
}

.keeping-uptodate p{
    line-height: 1.8rem;
    font-weight: 450;
    font-size: 0.8rem;
}

.biodigester-container {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/img/WhatsApp\ Image\ 2026-01-02\ at\ 3.20.46\ PM\ \(1\).jpeg) center/cover no-repeat;
    max-width: 100%;
}

.biodigester-text{
    padding: 1rem;
    font-size: 0.8rem;
    font-weight: 450;
}

.biodigester-container h1{
    font-size: 1.5rem;
    margin-top: 1rem;
}
}



@media(min-width:768px){
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0.5rem 0.6rem ;
   max-width: 1400px;
   margin: 1rem 1rem;
   border-radius: 20px;
   backdrop-filter: 10px;
}

.nav-menu ul {
    gap: 0.5rem;   
}

.logo-section img {
    height: 40px;
    width: 40px;
    border-radius: 50%;  
}

.nav-menu ul li a{
    font-size: 0.8rem;
}

.hero-section {
    height: 60vh;
}

.hero-images {
    position: absolute;
    top: 12%;
    left: 20%;
    transform: translate(-50%, -50%);
    gap: 3rem;  
}

.hero-section img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    padding: 0.1rem;
}

.handles{
    position: absolute;
    top: 9%;
    left: 65%;
    transform: translate(-50%, -50%);
}

.handles p{
    font-size: 0.8rem;
}

.handles-list{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 13%;
    left: 65%;
    transform: translate(-50%, -50%);  
}

.handles-list a{
    padding: 1rem;
    color: greenyellow;
    font-size: 1.3rem;
    gap: 0.8rem;
}

.hero-text{
    position: absolute;
    padding: 3rem 2rem;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    width: 90%;
}

.hero-text h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.hero-text p {
    font-size: 0.8rem;
    line-height: 1.6;
}

.hero-contact{
    position: absolute;
    top: 54%;
    left: 35%;
    transform: translate(-50%, -50%);
    padding: 0.2rem 0.5rem;
    margin-top: 2.9rem;
}

.hero-contact a{
    font-size: 0.8rem;
    gap: 0.5rem;
}

.hero-contact-why{
    position: absolute;
    top: 54%;
    left: 63%;
    transform: translate(-50%, -50%);
    padding: 0.2rem 0.5rem;
    margin-top: 2.9rem;
}

.hero-contact-why a{
    font-size: 0.8rem;
    gap: 0.4rem;
}


.hero-contact-why a{
    padding: 0.2rem 0.3rem;
}

.achievements-container{
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.2rem 0.5rem;
    margin-top: 2.9rem;
    gap: 1rem;
}

.achievement{
    background-color: #ffffff;
    padding: 0.5rem 0.9rem;
    border-radius: 15px;
    width: 7rem;
}


.achievement span {
    font-size: 1rem;
    font-weight: bold;
}

.achievement p {
    font-size: 1rem;
}


.About{
    object-fit: cover;
    height: 118vh;
}

.about-text{
    padding: 2rem 2rem;
    margin-top: 2rem;
    font-size: 1.2rem;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}


.services-container{
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-template-columns:repeat(3,minmax(160px,1fr));
    padding: 0.2rem 0.5rem;
    margin-top: 2.9rem;
    gap: 1.7rem;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.services-container h1{
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:1.3rem ;
    display:grid;
}

.service-text{
    line-height: 1rem;
    padding: 0.5rem;
    font-size: 0.8rem;
    width: 10.5rem;
}

.service-text a{
    font-size: 0.6rem;
}


.why-choose-us-container{
    padding: 1rem 1rem;
}

.why-choose-us-text h1{
    color: black;
    margin-bottom: 0.8rem;
}

.choose-us-text{
    padding: 1rem;
    font-size: 0.9rem;
}

.choose-us-text p{
    color: black;
    font-weight: 450;
    line-height: 1rem;
    margin-bottom: 2rem;
}


.keeping-uptodate{
    padding: 1rem;
    border-radius: 20px;
}

.keeping-uptodate p{
    line-height: 1.8rem;
    font-weight: 450;
    font-size: 0.9rem;
}

.biodigester-container {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/img/WhatsApp\ Image\ 2026-01-02\ at\ 3.20.46\ PM\ \(1\).jpeg) center/cover no-repeat;
    max-width: 100%;
}

.biodigester-text{
    padding: 1rem;
    font-size: 0.9rem;
    font-weight: 450;
}

.biodigester-container h1{
    font-size: 1.5rem;
    margin-top: 1rem;
}


}



@media(min-width:1024px){
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0.5rem 0.6rem ;
   max-width: 1400px;
   margin: 1rem 1rem;
   border-radius: 20px;
   backdrop-filter: 10px;
}

.nav-menu ul {
    gap: 0.5rem;   
}

.logo-section img {
    height: 40px;
    width: 40px;
    border-radius: 50%;  
}

.nav-menu ul li a{
    font-size: 0.8rem;
}

.hero-section {
    height: 60vh;
}

.hero-images {
    position: absolute;
    top: 12%;
    left: 29%;
    transform: translate(-50%, -50%);
    gap: 3rem;  
}

.hero-section img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    padding: 0.1rem;
}

.handles{
    position: absolute;
    top: 9%;
    left: 65%;
    transform: translate(-50%, -50%);
}

.handles p{
    font-size: 1rem;
}

.handles-list{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 13%;
    left: 65%;
    transform: translate(-50%, -50%);  
}

.handles-list a{
    padding: 1rem;
    color: greenyellow;
    font-size: 1.5rem;
    gap: 0.8rem;
}

.hero-text{
    position: absolute;
    padding: 3rem 2rem;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    width: 70%;
}

.hero-text h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.hero-text p {
    font-size: 0.4rem;
    line-height: 1.6;
}

.hero-contact{
    position: absolute;
    top: 54%;
    left: 35%;
    transform: translate(-50%, -50%);
    padding: 0.2rem 0.5rem;
    margin-top: 2.9rem;
}

.hero-contact a{
    font-size: 0.8rem;
    gap: 0.5rem;
}

.hero-contact-why{
    position: absolute;
    top: 54%;
    left: 63%;
    transform: translate(-50%, -50%);
    padding: 0.2rem 0.5rem;
    margin-top: 2.9rem;
}

.hero-contact-why a{
    font-size: 0.8rem;
    gap: 0.4rem;
}


.hero-contact-why a{
    padding: 0.2rem 0.3rem;
}

.achievements-container{
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.2rem 0.5rem;
    margin-top: 2.9rem;
    gap: 1rem;
}

.achievement{
    background-color: #ffffff;
    padding: 0.5rem 0.9rem;
    border-radius: 15px;
    width: 7rem;
}


.achievement span {
    font-size: 1rem;
    font-weight: bold;
}

.achievement p {
    font-size: 1rem;
}


.About{
    object-fit: cover;
    height: 118vh;
}

.about-text{
    padding: 2rem 2rem;
    margin-top: 2rem;
    font-size: 1.2rem;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}


.services-container{
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-template-columns:repeat(3,minmax(260px,1fr));
    padding: 0.2rem 0.5rem;
    margin-top: 2.9rem;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.services-container h1{
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:1.3rem ;
    display:grid;
}

.service-text{
    line-height: 1rem;
    padding: 0.5rem;
    font-size: 0.8rem;
    width: 15.5rem;
}

.service-text a{
    font-size: 0.6rem;
}


.why-choose-us-container{
    padding: 1rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.why-choose-us-text h1{
    color: black;
    margin-bottom: 0.8rem;
}

.choose-us-text{
    padding: 1rem;
    font-size: 0.9rem;
}

.choose-us-text p{
    color: black;
    font-weight: 450;
    line-height: 1rem;
    margin-bottom: 2rem;
}


.keeping-uptodate{
    padding: 1rem;
    border-radius: 20px;
    width: 70%;
}

.keeping-uptodate p{
    line-height: 1.8rem;
    font-weight: 450;
    font-size: 1.2rem;
}

.biodigester-container {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/img/WhatsApp\ Image\ 2026-01-02\ at\ 3.20.46\ PM\ \(1\).jpeg) center/cover no-repeat;
    max-width: 100%;
}

.biodigester-text{
    padding: 1rem;
    font-size: 0.9rem;
    font-weight: 450;
}

.biodigester-container h1{
    font-size: 1.5rem;
    margin-top: 1rem;
}
}


@media(min-width:1200px){
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0.5rem 0.6rem ;
   max-width: 100%;
   margin: 1rem 1rem;
   border-radius: 20px;
   backdrop-filter: 10px;
}

.nav-menu ul {
    gap: 2.9rem;   
}

.logo-section img {
    height: 80px;
    width: 80px;
    border-radius: 50%;  
}

.nav-menu ul li a{
    font-size: 1.3rem;
}

.hero-section {
    height: 90vh;
}

.hero-images {
    position: absolute;
    top: 15%;
    left: 29%;
    transform: translate(-50%, -50%);
    gap: 3rem;  
}

.hero-section img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    padding: 0.1rem;
}

.handles{
    position: absolute;
    top: 13%;
    left: 65%;
    transform: translate(-50%, -50%);
}

.handles p{
    font-size: 1.6rem;
}

.handles-list{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 18%;
    left: 65%;
    transform: translate(-50%, -50%);  
}

.handles-list a{
    padding: 1rem;
    color: greenyellow;
    font-size: 1.8rem;
    gap: 1rem;
}

.hero-text{
    position: absolute;
    padding: 3rem 2rem;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    width: 60%;
}

.hero-text h1 {
    font-size: 1.9rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.hero-text p {
    font-size: 1.6rem;
    line-height: 1.9rem;
}

.hero-contact{
    position: absolute;
    top: 59%;
    left: 38%;
    transform: translate(-50%, -50%);
    padding: 0.2rem 0.5rem;
    margin-top: 2.9rem;
}

.hero-contact a{
    font-size: 1.2rem;
    gap: 0.6rem;
}

.hero-contact-why{
    position: absolute;
    top: 59%;
    left: 60%;
    transform: translate(-50%, -50%);
    padding: 0.2rem 0.5rem;
    margin-top: 2.9rem;
}

.hero-contact-why a{
    font-size: 1.2rem;
    gap: 0.6rem;
}


.hero-contact-why a{
    padding: 0.2rem 0.3rem;
}

.achievements-container{
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.2rem 0.5rem;
    margin-top: 2.9rem;
    gap: 8rem;
}

.achievement{
    background-color: #ffffff;
    padding: 0.8rem 0.8rem;
    border-radius: 15px;
    width: 13.3rem;
}


.achievement span {
    font-size: 2.6rem;
    font-weight: bold;
}

.achievement p {
    font-size: 1.8rem;
}


.About{
    object-fit: cover;
    height: 148vh;
}


.about-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 2rem;
    padding: 2rem 2rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}


.services-container{
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-template-columns:repeat(3,minmax(360px,1fr));
    padding: 0.2rem 0.5rem;
    margin-top: 2.9rem;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.services-container h1{
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:1.8rem ;
    display:grid;
}

.service-text{
    line-height: 1.5rem;
    padding: 1.5rem;
    font-size: 1rem;
    width: 15.5rem;
}

.service-text a{
    font-size: 0.9rem;
    padding: 0.2rem;
}


.why-choose-us-container{
    padding: 1rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.why-choose-us-text h1{
    color: black;
    margin-bottom: 0.8rem;
}

.choose-us-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    font-size: 1rem;
}

.choose-us-text p{
    color: black;
    font-weight: 450;
    line-height: 1.6rem;
    margin-bottom: 2rem;
}


.keeping-uptodate{
    padding: 2rem;
    border-radius: 20px;
    width: 70%;
}

.keeping-uptodate p{
    line-height: 2.8rem;
    font-weight: 450;
    font-size: 1.2rem;
}

.biodigester-installation{
   display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.biodigester-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/img/WhatsApp\ Image\ 2026-01-02\ at\ 3.20.46\ PM\ \(1\).jpeg) center/cover no-repeat;
    max-width: 100%;
}

.biodigester-text ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 450;
}

.biodigester-text h1{
    font-size: 1.5rem;
}

.biodigester-container h1{
    font-size: 1.5rem;
    margin-top: 1rem;
}
}








